

  <div nz-row nzJustify="center" nzAlign="middle">
    <div nz-col nzSpan="24" nzJustify="center">
        <h1>Depreciaciones</h1>
    </div>
  </div>
 
  <hr>
  <div nz-row>
    <div nz-col nzSpan="24">
        <nz-table #basicTable [nzData]="depreciacion">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nombre de activo</th>
                    <th>Fecha</th>
                    <th>Metodo</th>
                    <th>Depreciacion Anual</th>
                    <th>Depreciacion Mensual</th>
                    <th>Depreciacion Total</th>
                    <th>Valor Inicial</th>
                    <th>Valor Actual</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let data of basicTable.data; let i=index">
                    <td>{{i+1}}</td>
                    <td>{{data.activofijo}}</td>
                    <td>{{data.fechaadquisicion}}</td>
                    <td>{{data.metodo}}</td>
                    <td>{{data.depreciacionanual}}</td>
                    <td>{{data.depreciacionmensual}}</td>
                    <td>{{data.depreciaciontotal}}</td>
                    <td>{{data.valorinicial}}</td>
                    <td>{{data.valoractual}}</td>
                    <td>
                        
                        <a nz-tooltip nzTooltipTitle="Eliminar" 
                        nz-popconfirm nzPopconfirmTitle="¿Está seguro de borrar el registro?"
                            nzPopconfirmPlacement="bottom" (nzOnConfirm)="eliminar(data.id!)" (nzOnCancel)="cancel()"
                            nzShape="circle" nzCancelText="No" nzOkText="Si"><i nz-icon nzType="delete"
                                nzTheme="outline"></i></a>
                        
                    </td>
                </tr>
            </tbody>
        </nz-table>
    </div>
  </div>
  
  
  
  
  
  